:root {
  --red-color: hsl(0, 78%, 62%);
  --cyan-color: hsl(180, 62%, 55%);
  --orange-color: hsl(34, 97%, 64%);
  --blue-color: hsl(212, 86%, 64%);
}
body {
  background: #fafafa;
  background: hsl(0, 0%, 98%);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #3e52a3;
  color: hsl(228, 45%, 44%);
}
.container {
  display: flex;
  max-width: 1108px;
  margin: 0 auto;
  justify-content: space-between;
}
.col {
  flex-basis: 30%;
}
.box {
  border-top: 3px solid;
  background: #fff;
}

.cyan {
  border-color: var(--cyan-color);
  align-self: center;
}
.red {
  border-color: var(--red-color);
}
.yellow {
  border-color: var(--orange-color);

}
.blue {
  border-color: var(--blue-color);
  align-self: center;
}
